In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import numpy as np

In [2]:
df = pd.read_csv("C:/Users/User/Downloads/week 0/data/togo-dapaong_qc.csv")

.●	Summary Statistics & Missing-Value Report

In [3]:
print(df.head(10))

          Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
0  2021-10-25 00:01 -1.3  0.0  0.0   0.0   0.0  24.8  94.5  0.9     1.1
1  2021-10-25 00:02 -1.3  0.0  0.0   0.0   0.0  24.8  94.4  1.1     1.6
2  2021-10-25 00:03 -1.3  0.0  0.0   0.0   0.0  24.8  94.4  1.2     1.4
3  2021-10-25 00:04 -1.2  0.0  0.0   0.0   0.0  24.8  94.3  1.2     1.6
4  2021-10-25 00:05 -1.2  0.0  0.0   0.0   0.0  24.8  94.0  1.3     1.6
5  2021-10-25 00:06 -1.2  0.0  0.0   0.0   0.0  24.9  93.9  1.2     1.4
6  2021-10-25 00:07 -1.1  0.0  0.0   0.0   0.0  24.9  93.8  1.2     1.4
7  2021-10-25 00:08 -1.1  0.0  0.0   0.0   0.0  24.9  93.7  1.1     1.4
8  2021-10-25 00:09 -1.1  0.0  0.0   0.0   0.0  24.9  93.6  1.0     1.4
9  2021-10-25 00:10 -1.1  0.0  0.0   0.0   0.0  24.9  93.4  0.9     1.4

   WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
0      0.4  227.6      1.1  977         0            0.0   24.7   24.4
1      0.4  229.3      0.7  977         0            0.0   24.7   24.4
2      0.3  228.5      2.9  977         0            0.0   24.7   24.4
3      0.3  229.1      4.6  977         0            0.0   24.7   24.4
4      0.4  227.5      1.6  977         0            0.0   24.7   24.4
5      0.3  226.2      4.8  977         0            0.0   24.8   24.5
6      0.3  226.4      0.9  977         0            0.0   24.8   24.5
7      0.3  224.5      2.8  977         0            0.0   24.8   24.5
8      0.3  225.6      4.1  977         0            0.0   24.8   24.5
9      0.4  231.5      0.9  977         0            0.0   24.8   24.5

   Comments
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN

In [4]:
print(df.tail(10))

               Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
525590  2022-10-24 23:51 -0.2  0.0  0.0   0.0   0.0  25.1  56.2  0.0     0.0
525591  2022-10-24 23:52 -0.3  0.0  0.0   0.0   0.0  25.1  56.3  0.0     0.0
525592  2022-10-24 23:53 -0.4  0.0  0.0   0.0   0.0  25.1  55.0  0.0     0.0
525593  2022-10-24 23:54 -0.6  0.0  0.0   0.0   0.0  25.1  54.2  0.0     0.0
525594  2022-10-24 23:55 -0.7  0.0  0.0   0.0   0.0  25.1  53.3  0.0     0.0
525595  2022-10-24 23:56 -0.8  0.0  0.0   0.0   0.0  25.2  53.8  0.0     0.0
525596  2022-10-24 23:57 -0.9  0.0  0.0   0.0   0.0  25.3  53.5  0.0     0.0
525597  2022-10-24 23:58 -1.0  0.0  0.0   0.0   0.0  25.3  53.4  0.0     0.0
525598  2022-10-24 23:59 -1.1  0.0  0.0   0.0   0.0  25.4  53.5  0.0     0.0
525599  2022-10-25 00:00 -1.2  0.0  0.0   0.0   0.0  25.4  52.3  0.0     0.0

        WSstdev   WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
525590      0.0  0.0      0.0  977         0            0.0   24.4   24.3
525591      0.0  0.0      0.0  977         0            0.0   24.4   24.2
525592      0.0  0.0      0.0  977         0            0.0   24.4   24.2
525593      0.0  0.0      0.0  977         0            0.0   24.4   24.1
525594      0.0  0.0      0.0  977         0            0.0   24.3   24.1
525595      0.0  0.0      0.0  977         0            0.0   24.3   24.0
525596      0.0  0.0      0.0  977         0            0.0   24.3   24.0
525597      0.0  0.0      0.0  977         0            0.0   24.2   23.9
525598      0.0  0.0      0.0  977         0            0.0   24.1   23.8
525599      0.0  0.0      0.0  977         0            0.0   24.1   23.8

        Comments
525590       NaN
525591       NaN
525592       NaN
525593       NaN
525594       NaN
525595       NaN
525596       NaN
525597       NaN
525598       NaN
525599       NaN

In [5]:
df.describe()

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,230.555040,151.258469,116.444352,226.144375,219.568588,27.751788,55.013160,2.368093,3.229490,0.557740,161.741845,10.559568,975.915242,0.000535,0.001382,32.444403,33.543330,NaN
std,322.532347,250.956962,156.520714,317.346938,307.932510,4.758023,28.778732,1.462668,1.882565,0.268923,91.877217,5.915490,2.153977,0.023116,0.026350,10.998334,12.769277,NaN
min,-12.700000,0.000000,0.000000,0.000000,0.000000,14.900000,3.300000,0.000000,0.000000,0.000000,0.000000,0.000000,968.000000,0.000000,0.000000,13.100000,13.100000,NaN
25%,-2.200000,0.000000,0.000000,0.000000,0.000000,24.200000,26.500000,1.400000,1.900000,0.400000,74.800000,6.900000,975.000000,0.000000,0.000000,23.900000,23.600000,NaN
50%,2.100000,0.000000,2.500000,4.400000,4.300000,27.200000,59.300000,2.200000,2.900000,0.500000,199.100000,10.800000,976.000000,0.000000,0.000000,28.400000,28.400000,NaN
75%,442.400000,246.400000,215.700000,422.525000,411.000000,31.100000,80.800000,3.200000,4.400000,0.700000,233.500000,14.100000,977.000000,0.000000,0.000000,40.600000,43.000000,NaN
max,1424.000000,1004.500000,805.700000,1380.000000,1367.000000,41.400000,99.800000,16.100000,23.100000,4.700000,360.000000,86.900000,983.000000,1.000000,2.300000,70.400000,94.600000,NaN

In [ ]:
#To see the data types of the column

In [6]:
df.dtypes

Timestamp         object
GHI              float64
DNI              float64
DHI              float64
ModA             float64
ModB             float64
Tamb             float64
RH               float64
WS               float64
WSgust           float64
WSstdev          float64
WD               float64
WDstdev          float64
BP                 int64
Cleaning           int64
Precipitation    float64
TModA            float64
TModB            float64
Comments         float64
dtype: object

In [7]:
# Convert 'Timestamp' column to datetime format
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [8]:
df.dtypes

Timestamp        datetime64[ns]
GHI                     float64
DNI                     float64
DHI                     float64
ModA                    float64
ModB                    float64
Tamb                    float64
RH                      float64
WS                      float64
WSgust                  float64
WSstdev                 float64
WD                      float64
WDstdev                 float64
BP                        int64
Cleaning                  int64
Precipitation           float64
TModA                   float64
TModB                   float64
Comments                float64
dtype: object

In [ ]:
# Find columns with more than 5% missing data using the missing_report DataFrame

In [9]:
missing_counts = df.isna().sum()
missing_percent = (df.isna().mean() * 100).round(2)

missing_report = pd.DataFrame({
    'Missing Count': missing_counts,
    'Missing %': missing_percent
})

print(missing_report)

               Missing Count  Missing %
Timestamp                  0        0.0
GHI                        0        0.0
DNI                        0        0.0
DHI                        0        0.0
ModA                       0        0.0
ModB                       0        0.0
Tamb                       0        0.0
RH                         0        0.0
WS                         0        0.0
WSgust                     0        0.0
WSstdev                    0        0.0
WD                         0        0.0
WDstdev                    0        0.0
BP                         0        0.0
Cleaning                   0        0.0
Precipitation              0        0.0
TModA                      0        0.0
TModB                      0        0.0
Comments              525600      100.0

In [10]:
#To find  columns with more than 5% missing values, we can filter the `missing_report` DataFrame.

# We can use the above missing report to find columns with more than 5% missing values.

high_missing = missing_report[missing_report['Missing %'] > 5]

# print the columns with more than 5% missing values
print("Columns with more than 5 percent missing values:")
print(high_missing)

Columns with more than 5 percent missing values:
          Missing Count  Missing %
Comments         525600      100.0

In [11]:
# The 'Comments' column has 100% missing values, as shown in the missing_report DataFrame.
# This means it contains no useful information for our analysis and can be safely removed from the dataset.

df = df.drop(columns=['Comments'])

In [12]:
# we can see the Comments column is not there anymore
print(df.columns)

Index(['Timestamp', 'GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS',
       'WSgust', 'WSstdev', 'WD', 'WDstdev', 'BP', 'Cleaning', 'Precipitation',
       'TModA', 'TModB'],
      dtype='object')

In [13]:
# Check for duplicates
print(df.duplicated().sum())

0

●	Outlier Detection & Basic Cleaning

In [15]:
Target_Column = ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust']
print(Target_Column)

['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust']

In [16]:
df[Target_Column].describe()

,GHI,DNI,DHI,ModA,ModB,WS,WSgust
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000
mean,230.555040,151.258469,116.444352,226.144375,219.568588,2.368093,3.229490
std,322.532347,250.956962,156.520714,317.346938,307.932510,1.462668,1.882565
min,-12.700000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-2.200000,0.000000,0.000000,0.000000,0.000000,1.400000,1.900000
50%,2.100000,0.000000,2.500000,4.400000,4.300000,2.200000,2.900000
75%,442.400000,246.400000,215.700000,422.525000,411.000000,3.200000,4.400000
max,1424.000000,1004.500000,805.700000,1380.000000,1367.000000,16.100000,23.100000

In [ ]:
#GHI has -ve value that needs to be removed

In [17]:
df['GHI'] = df['GHI'].clip(lower=0)
print("\nAfter fixing:")
print(df['GHI'].describe())

After fixing:
count    525600.000000
mean        231.718786
std         321.691953
min           0.000000
25%           0.000000
50%           2.100000
75%         442.400000
max        1424.000000
Name: GHI, dtype: float64

.ploting the boxplot for the tareted columns